.idea/

### SBT ###
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log
*.metals

# End of https://www.gitignore.io/api/sbt,scala,intellij

# Do not checkin configuration with real tokens
src/main/resources/application.conf